body > header {
  top: 0px;
  height: 400px;
  width: 100%;
  position: absolute;
  /* overflow: auto; */
  background-color: #004f8c;
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  
}

body > header > div {
  /* float: auto; */
  top: 5%;
  position: relative;
  display: flex; 
  justify-content: center;
  /* top: 50%; */
  /* left: 50%; */
}

@media only screen and (min-width: 1024px) {
   body > header {
    top: 300px;
    width: 40%;
    display: flexbox;
    align-items: stretch;
    /* position: relative; */
    /* justify-content: center; */
    /* align-content: center; */
    /* float: left; */
    /* display: inline; */

   }

}