.tweet {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  width : 90%;
  border: 5px solid black; 
  padding: 10px;
}
.tweet:hover{
  box-shadow: 5px 10px #888888;
  /* font-size: bold; */
  /* font-weight: bolder; */
  text-shadow: 1px 1px #888888;
}
.tweet:hover .tweet-header-username {
  color: grey;
}


.tweet header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 24px;
  margin-bottom: 25px;
  
  
}
.tweet header > div {
  display: flex;
  align-items: center;
  
}

.tweet-header-username {
  color: transparent;
}

.tweet h2 {
  /* clear: both; */
  display: flex;
  justify-content: center;
  /* float: inline-start; */
}
.tweet article {
  width: 100%;
  background-color: inherit;
  padding-bottom: 10px ;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: solid black 5px;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: bold; */

}
/* footer : button & counter */
.tweet footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 14px;
}
.tweet footer .RSF {
  display: flex;
  justify-content: space-around;
  visibility: hidden
}

.tweet:hover footer .RSF {
  visibility: visible;
}